@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  @apply p-0 m-0 box-border
}
.body{
  @apply w-screen h-screen grid place-items-center bg-[#e6bded]

}
*::-webkit-scrollbar {
  width: 6px;
  background-color: white;
}


*::-webkit-scrollbar-thumb {
  background-color: #6f6f6f;
  border-radius: 30px;
}

/* #32c4f4 */
/* #14f7c4 */